# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python-trianing\interpretation_of_laws\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
